# Dependencies
node_modules/
package-lock.json

# Build
dist/
.webpack/
.serverless/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db